pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/.hljs{color:#24292e;background:#fff}.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#d73a49}.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#6f42c1}.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#005cc5}.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#032f62}.hljs-built_in,.hljs-symbol{color:#e36209}.hljs-code,.hljs-comment,.hljs-formula{color:#6a737d}.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#22863a}.hljs-subst{color:#24292e}.hljs-section{color:#005cc5;font-weight:700}.hljs-bullet{color:#735c0f}.hljs-emphasis{color:#24292e;font-style:italic}.hljs-strong{color:#24292e;font-weight:700}.hljs-addition{color:#22863a;background-color:#f0fff4}.hljs-deletion{color:#b31d28;background-color:#ffeef0}

/*
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
body.theme-dark .hljs {
  color: #c9d1d9;
  background: #0d1117;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.31), rgb(0 0 0 / 50%));
  background: #191925;
  background: linear-gradient(90deg, #191925, transparent);
}
body.theme-dark .hljs-doctag,
body.theme-dark .hljs-keyword,
body.theme-dark .hljs-meta .hljs-keyword,
body.theme-dark .hljs-template-tag,
body.theme-dark .hljs-template-variable,
body.theme-dark .hljs-type,
body.theme-dark .hljs-variable.language_ {
/* prettylights-syntax-keyword */
  color: #ff7b72;
}

body.theme-dark .hljs-type {
	color: #d2a8ff;
}

body.theme-dark .hljs-title,
body.theme-dark .hljs-title.class_,
body.theme-dark .hljs-title.class_.inherited__,
body.theme-dark .hljs-title.function_ {
/* prettylights-syntax-entity */
  color: #d2a8ff;
}
body.theme-dark .hljs-attr,
body.theme-dark .hljs-attribute,
body.theme-dark .hljs-literal,
body.theme-dark .hljs-meta,
body.theme-dark .hljs-number,
body.theme-dark .hljs-operator,
body.theme-dark .hljs-variable,
body.theme-dark .hljs-selector-attr,
body.theme-dark .hljs-selector-class,
body.theme-dark .hljs-selector-id {
/* prettylights-syntax-constant */
  color: #79c0ff;
}
body.theme-dark .hljs-regexp,
body.theme-dark .hljs-string,
body.theme-dark .hljs-meta .hljs-string {
/* prettylights-syntax-string */
  color: #a5d6ff;
}
body.theme-dark .hljs-built_in,
body.theme-dark .hljs-symbol {
/* prettylights-syntax-variable */
  color: #ffa657;
}
body.theme-dark .hljs-comment,
body.theme-dark .hljs-comment .c-function,
body.theme-dark .hljs-code,
body.theme-dark .hljs-formula {
/* prettylights-syntax-comment */
  color: #8b949e;
}
body.theme-dark .hljs-name,
body.theme-dark .hljs-quote,
body.theme-dark .hljs-selector-tag,
body.theme-dark .hljs-selector-pseudo {
/* prettylights-syntax-entity-tag */
  color: #7ee787;
}
body.theme-dark .hljs-subst {
/* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}
body.theme-dark .hljs-section {
/* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}
body.theme-dark .hljs-bullet {
/* prettylights-syntax-markup-list */
  color: #f2cc60;
}
body.theme-dark .hljs-emphasis {
/* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}
body.theme-dark .hljs-strong {
/* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}
body.theme-dark .hljs-addition {
/* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}
body.theme-dark .hljs-deletion {
/* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}

body.theme-dark .hljs-keyword,
body.theme-dark .hljs-meta .hljs-keyword,
body.theme-dark .hljs-meta {
	color: #878787;
}

body.theme-dark .hljs-string,
body.theme-dark .hljs-meta .hljs-string
 {
	color: #9DDB23;
}
