@use "../colors.sass"

#nd-left-navigation a
	display: flex
	align-items: center
	text-decoration: none
	padding: 10px 30px

	font-size: 14px

	border-left: 2px solid transparent

	&.strikethrough
		text-decoration: line-through

	&.active, &:hover
		background: linear-gradient(90deg, var(--gradient-first-step-color) 30%, rgba(255,255,255,0) 100%)

	&.active
		border-left-color: var(--header-border-bottom)

		div.label-and-brief span.brief
			color: var(--base-text-color)

		&[data-definition-type="fn"] div.label-and-brief span.label
			color: var(--fn-primary-color)

		&[data-definition-type="type"] div.label-and-brief span.label
			color: var(--type-primary-color)

		&[data-definition-type="macro"] div.label-and-brief span.label
			color: var(--macro-primary-color)

	&.search-hidden
		display: none !important

	&.active, &:hover
		color: var(--base-text-color)

		div.napcdoc-svg-image
			svg path
				fill: var(--base-text-color)

		div.label-and-brief
			span.label
				color: var(--base-text-color)

		&[data-definition-type="fn"] div.napcdoc-svg-image svg path
			fill: var(--fn-primary-color)

		&[data-definition-type="type"] div.napcdoc-svg-image svg path
			fill: var(--type-primary-color)

		&[data-definition-type="macro"] div.napcdoc-svg-image svg path
			fill: var(--macro-primary-color)


	div.label-and-brief
		display: flex
		flex-direction: column

		span.label
			font-size: 14px
			color: var(--base-text-color-dimmed-1)

		span.brief
			margin-top: 5px
			font-size: 11px
			color: var(--base-text-color-dimmed-2)

	div.napcdoc-svg-image
		svg path
			fill: var(--base-text-color-dimmed-2)
		margin-right: 15px

	&:hover
		color: var(--base-text-color)

		div.napcdoc-svg-image
			opacity: 1
