@use "../colors.sass"

#nd-left-navigation div.search
	width: calc(100% - 30px)
	height: 60px
	flex-grow: 0
	flex-shrink: 0
	display: flex
	align-items: center
	justify-content: center

	input
		width: 100%
		height: 30px
		flex-grow: 0
		flex-shrink: 0
		background: var(--alt-secondary-background)
		border: none
		border-radius: 40px
		color: var(--base-text-color)
		padding: 0 15px

		&::placeholder
			color: var(--base-text-color-dimmed-1)
