@use "../vars.sass"
@use "../colors.sass"

#nd-footer
	width: 100%
	height: vars.$footer_height

	position: fixed
	bottom: 0
	left: 0
	z-index: 100

	background: var(--footer-background)

	display: flex
	align-items: center

	padding: 0 30px
