@use "../vars.sass"
@use "../colors.sass"

#nd-global-search-results
	width: vars.$global_search_width
	background: var(--secondary-background)

	position: fixed
	top: vars.$header_height
	right: 0px
	z-index: 10

	display: none // set via JS
	opacity: 0 // set via JS

	transition: opacity 1s ease

	&.visible
		opacity: 1
