@use "../colors.sass"
@use "../vars.sass"

#nd-header
	width: 100%
	height: vars.$header_height

	position: fixed
	top: 0
	left: 0
	z-index: 100

	//
	// background color is needed because
	// header overlaps with content when scrolled
	//
	background: red

	display: flex
	align-items: center

body.theme-dark
	#nd-header
		background: colors.$dark__secondary_background
