@use "../colors.sass"
@use "../vars.sass"

#nd-header
	width: 100%
	height: vars.$header_height

	position: fixed
	top: 0
	left: 0
	z-index: 100

	//
	// background color is needed because
	// header overlaps with content when scrolled
	//
	background: linear-gradient(0deg, var(--secondary-background), transparent)
	box-shadow: inset 0px -2px 3px rgba(0, 0, 0, .13)

	display: flex
	align-items: center

body.theme-light
	#nd-header
		background: linear-gradient(0deg, #E1EBF2, transparent)
