@use "../vars.sass"
@use "../colors.sass"

#nd-mobile-navigation
	width: 100%
	background: red
	overflow: hidden
	//transition: set with javascript
	//max-height set with javascript
	max-height: 0px
	display: none

	div.nav-wrapper
		display: flex
		flex-direction: column
		padding: 15px 15px

		a
			display: flex
			align-items: center
			justify-content: flex-start
			text-decoration: none
			font-size: 18px
			padding: 8px 0px

			&.strikethrough
				text-decoration: line-through

			div.label-and-brief
				display: flex
				flex-direction: column

				span.label
					font-size: 18px
					color: red

				span.brief
					margin-top: 4px
					font-size: 14px
					color: red

			div.napcdoc-svg-image
				margin-right: 15px

				svg path
					fill: red

body.theme-dark
	#nd-mobile-navigation
		background: colors.$dark__header_border_bottom

		div.nav-wrapper
			a
				div.label-and-brief
					span.label
						color: colors.$dark__base_text_color

					span.brief
						color: colors.setRGBA(colors.$dark__base_text_color, .3)

				div.napcdoc-svg-image
					svg path
						fill: colors.$dark__base_text_color
