.DS_Store
/dist/
/dist.tmp/
/build/
/tmp.d/*
!/tmp.d/.gitkeep

/documentation-site/dist.tmp/
/documentation-site/dist/
/documentation-site/tmp/*
!/documentation-site/tmp/.gitkeep

/__tests__.linux/tmp/*.out

!/ci/tmp/.gitkeep
/ci/tmp/*

/.napci/build_files.tmp
/.napci/build_files
/.napci/upload_files.tmp
/.napci/upload_files
/.napci/tmp
