.DS_Store
dist/
dist.tmp/
build/
documentation-site/dist.tmp/
documentation-site/dist/
documentation-site/tmp/*
!documentation-site/tmp/.gitkeep
test.c
readme
/a.out
__tests__.linux/tmp/*.out
.napci/build_files.tmp
.napci/build_files
.napci/upload_files.tmp
.napci/upload_files
.napci/tmp
