$dark__base_text_color: #ffffff
$dark__background: #111119
$dark__secondary_background: #09080E
$dark__tertiary_background: #191925
$dark__header_border_bottom: #29293d
$dark__type_primary_color: rgb(210,168,255)
$dark__fn_primary_color: #11c5e5
$dark__macro_primary_color: #ff7a00

@use "sass:color"

@function setRGBA($color, $alpha)
	@return rgba(color.red($color), color.green($color), color.blue($color),$alpha)
