@use "../vars.sass"
@use "../colors.sass"

#nd-global-search-results div.wrapper
	width: 100%
	max-height: calc(100vh - vars.$header_height - vars.$footer_height)
	overflow-y: scroll
	flex-grow: 0
	flex-shrink: 0
	display: flex
	flex-direction: column

	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar
		display: none

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none // IE and Edge
	scrollbar-width: none // Firefox

	h2
		font-size: 14px
		text-transform: uppercase

	a
		text-decoration: none
		display: flex
		align-items: center
		padding: 4px 15px
		border-left: 2px solid transparent

		&:hover
			border-left-color: red
			background: red

		&.selected
			border-left-color: red
			background: red

		&.selected, &:hover
			&[data-definition-type="fn"] div.napcdoc-svg-image svg path
				fill: red

			&[data-definition-type="type"] div.napcdoc-svg-image svg path
				fill: red

			&[data-definition-type="macro"] div.napcdoc-svg-image svg path
				fill: red

		&.module-header
			padding: 8px 15px
			background: red
			border-left-color: red
			font-weight: 500

			div.label-and-brief
				span.label
					font-size: 16px

			div.napcdoc-svg-image svg path
				fill: red

			&:first-child
				margin: 0

		div.napcdoc-svg-image
			margin-right: 15px
			svg path
				fill: red

			&:last-child
				margin-left: auto

		div.label-and-brief
			display: flex
			flex-direction: column
			justify-content: center

			span.label
				font-size: 14px

			span.brief
				font-size: 12px
				color: red
				margin-top: 3px

body.theme-dark
	#nd-global-search-results div.wrapper
		a
			&:hover
				border-left-color: colors.$dark__tertiary_background
				background: linear-gradient(90deg, colors.$dark__tertiary_background 30%, rgba(255,255,255,0) 100%)

			&.selected
				border-left-color: colors.$dark__header_border_bottom
				background: linear-gradient(90deg, colors.$dark__tertiary_background 30%, rgba(255,255,255,0) 100%)

			&.selected, &:hover
				&[data-definition-type="fn"] div.napcdoc-svg-image svg path
					fill: colors.$dark__fn_primary_color

				&[data-definition-type="type"] div.napcdoc-svg-image svg path
					fill: colors.$dark__type_primary_color

				&[data-definition-type="macro"] div.napcdoc-svg-image svg path
					fill: colors.$dark__macro_primary_color

			&.module-header
				background: colors.$dark__tertiary_background
				border-left-color: colors.$dark__header_border_bottom

				div.napcdoc-svg-image svg path
					fill: colors.$dark__base_text_color

			div.napcdoc-svg-image
				svg path
					fill: colors.setRGBA(colors.$dark__base_text_color, .2)

			div.label-and-brief
				span.brief
					color: colors.setRGBA(colors.$dark__base_text_color, .3)
