@use "../colors.sass"

#nd-right-content div.warning-box
	margin: 16px 0px
	padding: 15px
	background: red
	border-left: red
	color: red
	border-radius: 4px
	display: flex
	align-items: center

	span.bt-pill, a.bt-pill
		&::after
			border: 1px solid red !important
			background: transparent !important

		color: red

	div.napcdoc-svg-image
		margin-right: 10px

	svg path
		fill: red

	&.hal
		border-left-color: red
		color: red

		background: red

		svg path
			fill: red

body.theme-dark
	#nd-right-content div.warning-box
		background: colors.setRGBA(#ffb14a, .13)
		border-left: 4px solid #ffb14a
		color: #ffb14a

		span.bt-pill, a.bt-pill
			&::after
				border: 1px solid #ffb14a !important

			color: white

		svg path
			fill: #ffb14a

		&.hal
			border-left-color: #5ed84b
			color: #5ed84b

			background: linear-gradient(90deg, colors.setRGBA(#5ed84b, .13), transparent)

			svg path
				fill: #5ed84b

