@use "../colors.sass"

#nd-right-content.no-left-side-navigation
	div.wrapper
		padding: 15px 30px

#nd-right-content div.wrapper
	padding: 15px 15px
	//padding-top: 15px
	line-height: 27px
	font-size: 14px

	ul
		margin-left: 30px

	h1
		margin: 15px 0px
		font-size: 27px

		&:first-of-type
			margin-top: 0

	h2
		margin: 5px 0px
		font-size: 21px

	pre.code
		font-family: "PT Mono", ui-monospace
		font-size: 15px
		margin: 8px 0px
		background: red
		padding: 15px
		padding-top: 20px // offset scrollbar height
		border-left: 4px solid red
		border-radius: 4px
		tab-size: 25px
		//white-space: pre-wrap
		overflow-x: scroll
		line-height: 24px
		background: red

	span.c-type
		color: red
		font-weight: bold

		a
			color: inherit !important

	span.c-function
		color: red
		font-weight: bold

		a
			color: inherit !important

	span.c-macro
		color: red
		font-weight: bold

		a
			color: inherit !important

	div.markdown h2
		margin: 20px 0px

body.theme-dark
	#nd-right-content div.wrapper
		pre.code
			background: colors.$dark__tertiary_background
			border-left-color: #575782

		span.c-type
			color: colors.$dark__type_primary_color

		span.c-function
			color: colors.$dark__fn_primary_color

		span.c-macro
			color: colors.$dark__macro_primary_color
