#nd-header div.menu-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
#nd-header div.menu-wrapper a {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  margin: 0px 10px;
  color: rgba(255, 255, 255, 0.4);
}
#nd-header div.menu-wrapper a:hover {
  color: white;
}
#nd-header div.menu-wrapper a:first-child {
  margin-left: 15px;
}
#nd-header div.menu-wrapper a i, #nd-header div.menu-wrapper a b {
  font-style: normal;
  font-weight: normal;
  display: none;
}
#nd-header div.menu-wrapper a u {
  text-decoration: none;
}
#nd-header div.menu-wrapper a.active {
  color: white;
  border-bottom-color: #29293d;
}
