#nd-header div.mobile-menu-wrapper {
  margin-left: auto;
  padding-right: 15px;
  display: none;
}
#nd-header div.mobile-menu-wrapper div.napcdoc-svg-image svg path {
  fill: white;
}
#nd-header div.mobile-menu-wrapper.empty {
  display: none !important;
}

#nd-header div.mobile-menu-wrapper div.menu-close {
  display: none;
}

body.mobile-navigation-open #nd-header div.mobile-menu-wrapper div.menu-open {
  display: none;
}
body.mobile-navigation-open #nd-header div.mobile-menu-wrapper div.menu-close {
  display: flex;
}
