#nd-right-content div.warning-box {
  margin: 16px 0px;
  padding: 15px;
  background: rgba(255, 177, 74, 0.13);
  border-left: 4px solid #ffb14a;
  color: #ffb14a;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
#nd-right-content div.warning-box span.bt-pill, #nd-right-content div.warning-box a.bt-pill {
  color: white;
}
#nd-right-content div.warning-box span.bt-pill::after, #nd-right-content div.warning-box a.bt-pill::after {
  border: 1px solid #ffb14a !important;
  background: transparent !important;
}
#nd-right-content div.warning-box div.napcdoc-svg-image {
  margin-right: 10px;
}
#nd-right-content div.warning-box svg path {
  fill: #ffb14a;
}
#nd-right-content div.warning-box.hal {
  border-left-color: #5ed84b;
  color: #5ed84b;
  background: linear-gradient(90deg, rgba(94, 216, 75, 0.13), transparent);
}
#nd-right-content div.warning-box.hal svg path {
  fill: #5ed84b;
}
