#nd-global-search-results {
  width: 350px;
  background: #09080e;
  position: fixed;
  top: 75px;
  right: 0px;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}
#nd-global-search-results.visible {
  opacity: 1;
}
