#nd-right-content {
  width: calc(100% - 350px);
  height: calc(100% - 75px - 50px);
  position: fixed;
  top: 75px;
  left: 350px;
  overflow-y: scroll;
  transition: filter 0.15s ease, opacity 0.15s ease;
}
#nd-right-content.blurred {
  filter: blur(4px);
  opacity: 0.8;
}
