@media only screen and (max-width: 1000px) {
  #nd-header div.logo-wrapper {
    display: none !important;
  }
  #nd-header div.menu-wrapper a {
    font-size: 16px;
    border-bottom-width: 4px;
  }
  #nd-header div.menu-wrapper a u {
    display: none !important;
  }
  #nd-header div.menu-wrapper a i {
    display: inline !important;
  }
  #nd-header div.menu-wrapper a.no-mobile {
    display: none;
  }
  #nd-header div.global-search-wrapper {
    display: none !important;
  }
  #nd-header div.mobile-menu-wrapper {
    display: block;
  }

  #nd-global-search-results {
    display: none !important;
  }

  #nd-right-content.blurred {
    filter: none !important;
    opacity: 1 !important;
  }

  #nd-mobile-navigation {
    display: block !important;
  }

  #nd-left-navigation {
    display: none !important;
  }

  #nd-right-content {
    width: 100% !important;
    left: 0 !important;
  }

  #nd-right-content div.wrapper {
    padding: 30px 15px !important;
    padding-top: 15px !important;
  }
  #nd-right-content div.wrapper h1 {
    font-size: 22px;
  }
  #nd-right-content div.wrapper h2 {
    font-size: 18px;
  }
  #nd-right-content div.wrapper div.markdown h2 {
    margin: 10px 0px;
  }
  #nd-right-content div.wrapper pre.code {
    font-size: 12px;
  }
}
