#nd-mobile-navigation {
  width: 100%;
  background: #29293d;
  overflow: hidden;
  max-height: 0px;
  display: none;
}
#nd-mobile-navigation div.nav-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
}
#nd-mobile-navigation div.nav-wrapper a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 0px;
}
#nd-mobile-navigation div.nav-wrapper a.strikethrough {
  text-decoration: line-through;
}
#nd-mobile-navigation div.nav-wrapper a div.label-and-brief {
  display: flex;
  flex-direction: column;
}
#nd-mobile-navigation div.nav-wrapper a div.label-and-brief span.label {
  font-size: 18px;
  color: white;
}
#nd-mobile-navigation div.nav-wrapper a div.label-and-brief span.brief {
  margin-top: 4px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
}
#nd-mobile-navigation div.nav-wrapper a div.napcdoc-svg-image {
  margin-right: 15px;
}
#nd-mobile-navigation div.nav-wrapper a div.napcdoc-svg-image svg path {
  fill: white;
}
