name: Software Release

on:
  push:
    # Pattern matched against refs/tags
    tags:        
      - '*'           # Push events to every tag not containing /

env:
  NAPCDOC_DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
  NAPCDOC_DEPLOY_URL: ${{ secrets.DEPLOY_URL }}
  NAPCDOC_GIT_BRANCH: main # because git is in detached HEAD state in this workflow

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
         sudo apt-get update
         sudo apt install gcc make gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu
         sudo apt install gcc-x86-64-linux-gnu

    - name: Build source
      run: ./build.scripts/build.php --no-tests

    - name: Unit tests
      run: ./ci.run-tests.sh

    - name: Start local server
      run: cd documentation-site/ && php -S 0.0.0.0:9999 index.php &

    - name: Export documentation
      run: ./documentation-site/export.php --optimized

    - name: Deploy
      run: ./ci.deploy.php
